* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: #fff;
	color: #393939;
	font-family: Arial;
	font-size: 0px;
	line-height: 0;
}

/* GENERAL --------------------------------------------------------*/
table {
	border-collapse: collapse;
}

.fr {
	float: right;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	
}

.clear {
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0;
}

p {
	margin: 0px;
	padding: 0px;
}

form {
	margin: 0;
	padding: 0;
}

.line {
	border-top: 1px solid #dcdada;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
}

.font11 {
	font-size: 11px;
}

/*  LOGIN -------------------------------------------------------------------------------- */
#login-bg {
	background: url(images/login_bg.jpg) no-repeat top center;
}

#login-holder {
	margin: 0px auto 0 auto;
	width: 508px;
}

#loginbox {
	background: url(images/loginbox_bg.png) no-repeat;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
}

#forgotbox {
	background: url(images/loginbox_bg.png) no-repeat;
	display: none;
	font-size: 12px;
	height: 212px;
	line-height: 12px;
	padding-top: 60px;
	position: relative;
	width: 508px;
}

#login-inner {
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 310px;
}

#login-inner label {
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}

.checkbox-size {
	width: 13px;
	height: 13px;
	margin: 5px 0;
}

#login-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 95px;
}

#login-inner td {
	padding: 0 0 6px 0;
}

.login-inp {
	background: url(images/inp_login.gif) no-repeat;
	border: none;
	color: #fff;
	font-size: 16px;
	height: 28px;
	padding: 6px 6px 0 10px;
	width: 204px;
}

#logo-login {
	float: left;
	height: 35px;
	margin: 145px 0 0 15px;
}

a.forgot-pwd {
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	position: absolute;
	right: 40px;
}

a:hover.forgot-pwd {
	color: #fff;
}

#forgotbox-text {
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 12px;
	margin: 0 auto 40px auto;
	width: 380px;
}

#forgot-inner {
	color: #161616;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 12px;
	margin: 0 auto;
	width: 330px;
}

#forgot-inner label {
	color: #161616;
	cursor: pointer;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding-left: 10px;
}

#forgot-inner th {
	padding: 0 0 6px 0;
	text-align: left;
	width: 110px;
}

#forgot-inner td {
	padding: 0 0 6px 0;
}

a.back-login {
	background: url(images/icon_back_login.gif) no-repeat 0 4px;
	bottom: 30px;
	color: #161616;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 10px;
	position: absolute;
	right: 40px;
}

a:hover.back-login {
	color: #fff;
}

.submit-login {
	background: url(images/submit_login.gif) no-repeat;
	border: none;
	cursor: pointer;
	display: block;
	height: 29px;
	text-indent: -3000px;
	width: 73px;
}

.submit-login:hover {
	background: url(images/submit_login.gif) no-repeat 0 -29px;
}